DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=618042408764178432
DISCORD_CHANNEL_ID=618042408764178436

DZ_BASE_URL=https://www.wongmingempire.com/bbswm/
DZ_FORUM_ID=53
DZ_USERNAME=
DZ_PASSWORD=
DZ_POLL_MS=30000
